[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-yasg = "*"
django-filter = "*"
psycopg = {extras = ["binary"], version = "*"}
gunicorn = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
celery = "*"
redis = "*"

[dev-packages]
flake8 = "*"
pep8-naming = "*"
flake8-broken-line = "*"
flake8-return = "*"
flake8-isort = "*"

[requires]
python_version = "3.10"
